.protocol_item {
    text-align: center;
    border-radius: 5px;
    padding: 0;
    margin: 20px 0;
}

.protocol_title {
    display: block;
    position: relative;
    cursor: pointer;
    height: 60px;
    border: 1px solid #f3e0c6;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.protocol_title_1{
    background-color: #f3e0c6;
}
.protocol_title_2{
    background-color: #fcead2;
}
.protocol_title_3{
    background-color: #f3e0c6bd;
}

.protocol_title:hover{
    color: #fff;
    background-color: #6ecbdc;
}

.protocol_title:hover::before{
    width: 100%;
}

.protocol_list {
    display: none;
    padding: 5px;
    border: 2px solid #f3e0c6;
}

.protocol_list .protocol_title{
    border: none;
}

.protocol_title,
.protocol_list {
    width: 100%;
}

table td{
    color: #000;
}