<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/loading.css">
    <link rel="stylesheet" href="../style/common.css">
    <script src="../js/loading.js"></script>
    <title>Loading</title>
</head>

<body>
    <div class="loading flex-center-xy">
        <div class="loading-item">
            <div class="rna">
                <span class="base" style="--s:1;"></span>
                <span class="base" style="--s:2;"></span>
                <span class="base" style="--s:3;"></span>
                <span class="base" style="--s:4;"></span>
                <span class="base" style="--s:5;"></span>
                <span class="base" style="--s:6;"></span>
                <span class="base" style="--s:7;"></span>
                <span class="base" style="--s:8;"></span>
                <span class="base" style="--s:9;"></span>
                <span class="base" style="--s:10;"></span>
                <span class="base" style="--s:11;"></span>
                <span class="base" style="--s:12;"></span>
            </div>
        </div>

    </div>
</body>

</html>