<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/photoframe.css">
    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../js/photoframe.js"></script>
    <title>photo frame</title>
</head>
<body>
    <div class="photoframebox"></div>
    <div class="board">
        <div class="memberboard">
            <label class="close"></label>
            <div class="member">
                <img src="" alt="photo">
            </div>
            <div class="information">
                <span>Name:</span>
                <label class="name"></label>
                <br>
                <span>group:</span>
                <label class="group"></label>
                <br>
                <span>message:</span>
                <label class="message"></label>
            </div>
        </div>
        <div class="slideshow">
            <div class="slideleft"></div>
            <div class="slideright"></div>
        </div>
    </div>
</body>
</html>