<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/loading.css">
    <link rel="stylesheet" href="../style/common.css">
    <title>Loading</title>
</head>
<body>
    <div class="loading">
        <div class="box">
            <div class="circles" id="circles"></div>
        </div>
    </div>  
    <script>
        let circles = document.getElementById('circles');
	    for(let i=0;i<90;i++){
	    	let div = document.createElement('div');
	    	div.style = `transform: translateZ(${i}px)`;
	    	div.className = `circle ${i==0||i==99?'bg':''}`;
	    	circles.appendChild(div);
	    }
    </script>
</body>
</html>
